//global system clock
NET	sys_clock_50 		LOC = A10 | TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;

//reset signal
//NET	sys_reset_n 		LOC = L3 	| IOSTANDARD = "LVCMOS33";
NET	sys_reset_n 		LOC = T8 	| IOSTANDARD = "LVCMOS33";

// user LEDs D1 -> T9, D3 -> R9
NET	sys_led[0] 			LOC = T9 	| IOSTANDARD = "LVCMOS33";
NET	sys_led[1] 			LOC = R9 	| IOSTANDARD = "LVCMOS33";

//NET 	sys_button[0]             LOC = T8        | IOSTANDARD = "LVCMOS33";
//NET 	sys_button[1]             LOC = R7        | IOSTANDARD = "LVCMOS33";

NET 	sys_button             LOC = R7        | IOSTANDARD = "LVCMOS33";

NET	sys_uart_rxd      LOC = B5 | IOSTANDARD = "LVCMOS33";
NET	sys_uart_txd      LOC = A4 | IOSTANDARD = "LVCMOS33";
