//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.09
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9C
//Created Time: Fri 04 07 15:50:19 2023

IO_LOC "sys_uart_txd" 17;
IO_PORT "sys_uart_txd" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "sys_uart_rxd" 18;
IO_PORT "sys_uart_rxd" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "sys_user_n" 3;
IO_PORT "sys_user_n" PULL_MODE=UP;
IO_LOC "sys_reset_n" 4;
IO_PORT "sys_reset_n" PULL_MODE=UP;
IO_LOC "sys_clock_27" 52;
IO_PORT "sys_clock_27" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "sys_led[5]" 16;
IO_PORT "sys_led[5]" PULL_MODE=UP DRIVE=8;
IO_LOC "sys_led[4]" 15;
IO_PORT "sys_led[4]" PULL_MODE=UP DRIVE=8;
IO_LOC "sys_led[3]" 14;
IO_PORT "sys_led[3]" PULL_MODE=UP DRIVE=8;
IO_LOC "sys_led[2]" 13;
IO_PORT "sys_led[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "sys_led[1]" 11;
IO_PORT "sys_led[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "sys_led[0]" 10;
IO_PORT "sys_led[0]" PULL_MODE=UP DRIVE=8;
