NET "ax3_clock_50" LOC = T8 | TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;

# HIGH 50% INPUT_JITTER 200.0ps;

NET ax3_reset_n            LOC = L3  | IOSTANDARD = "LVCMOS33";
// NET ax3_buzzer          LOC = J11 | IOSTANDARD = "LVCMOS33";

NET ax3_button[0]          LOC = C3  | IOSTANDARD = "LVCMOS33";
NET ax3_button[1]          LOC = D3  | IOSTANDARD = "LVCMOS33";
NET ax3_button[2]          LOC = E4  | IOSTANDARD = "LVCMOS33";
NET ax3_button[3]          LOC = E3  | IOSTANDARD = "LVCMOS33";

NET ax3_led[0]             LOC = P4  | IOSTANDARD = "LVCMOS33";
NET ax3_led[1]             LOC = N5  | IOSTANDARD = "LVCMOS33";
NET ax3_led[2]             LOC = P5  | IOSTANDARD = "LVCMOS33";
NET ax3_led[3]             LOC = M6  | IOSTANDARD = "LVCMOS33";

NET ax3_hex[0]             LOC = C7  | IOSTANDARD = "LVCMOS33";
NET ax3_hex[1]             LOC = E6  | IOSTANDARD = "LVCMOS33";
NET ax3_hex[2]             LOC = C5  | IOSTANDARD = "LVCMOS33";
NET ax3_hex[3]             LOC = F7  | IOSTANDARD = "LVCMOS33";
NET ax3_hex[4]             LOC = D6  | IOSTANDARD = "LVCMOS33";
NET ax3_hex[5]             LOC = E7  | IOSTANDARD = "LVCMOS33";
NET ax3_hex[6]             LOC = D5  | IOSTANDARD = "LVCMOS33";
NET ax3_hex[7]             LOC = C6  | IOSTANDARD = "LVCMOS33";

NET ax3_hsel[5]            LOC = D9  | IOSTANDARD = "LVCMOS33";
NET ax3_hsel[4]            LOC = E10 | IOSTANDARD = "LVCMOS33";
NET ax3_hsel[3]            LOC = F10 | IOSTANDARD = "LVCMOS33";
NET ax3_hsel[2]            LOC = F9  | IOSTANDARD = "LVCMOS33";
NET ax3_hsel[1]            LOC = E8  | IOSTANDARD = "LVCMOS33";
NET ax3_hsel[0]            LOC = D8  | IOSTANDARD = "LVCMOS33";

#  NET ax3_spi_cs_n        LOC = T3  | IOSTANDARD = "LVCMOS33";
#  NET ax3_spi_clk         LOC = R11 | IOSTANDARD = "LVCMOS33";
#  NET ax3_spi_mosi        LOC = T10 | IOSTANDARD = "LVCMOS33";
#  NET ax3_spi_miso        LOC = P10 | IOSTANDARD = "LVCMOS33";

NET ax3_uart_rxd           LOC = C11 | IOSTANDARD = "LVCMOS33";
NET ax3_uart_txd           LOC = D12 | IOSTANDARD = "LVCMOS33";

#  NET ax3_dram_dq[0]      LOC = A3  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_dq[1]      LOC = B3  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_dq[2]      LOC = A2  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_dq[3]      LOC = B2  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_dq[4]      LOC = B1  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_dq[5]      LOC = C2  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_dq[6]      LOC = C1  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_dq[7]      LOC = D1  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_dq[8]      LOC = H5  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_dq[9]      LOC = G5  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_dq[10]     LOC = H3  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_dq[11]     LOC = F6  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_dq[12]     LOC = G3  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_dq[13]     LOC = F5  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_dq[14]     LOC = F3  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_dq[15]     LOC = F4  | IOSTANDARD = "LVCMOS33";
#
#  NET ax3_dram_addr[0]    LOC = J3  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_addr[1]    LOC = J4  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_addr[2]    LOC = K3  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_addr[3]    LOC = K5  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_addr[4]    LOC = P1  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_addr[5]    LOC = N1  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_addr[6]    LOC = M2  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_addr[7]    LOC = M1  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_addr[8]    LOC = L1  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_addr[9]    LOC = K2  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_addr[10]   LOC = K6  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_addr[11]   LOC = K1  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_addr[12]   LOC = J1  | IOSTANDARD = "LVCMOS33";
#
#  NET ax3_dram_ldqm       LOC = E2  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_udqm       LOC = H1  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_we_n       LOC = E1  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_cas_n      LOC = F2  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_ras_n      LOC = F1  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_cs_n       LOC = G1  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_ba[0]      LOC = G6  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_ba[1]      LOC = J6  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_clk        LOC = H4  | IOSTANDARD = "LVCMOS33";
#  NET ax3_dram_cke        LOC = H2  | IOSTANDARD = "LVCMOS33";
#
#  NET ax3_sd_cs_n         LOC = N3  | IOSTANDARD = "LVCMOS33";
#  NET ax3_sd_clk          LOC = M3  | IOSTANDARD = "LVCMOS33";
#  NET ax3_sd_mosi         LOC = L5  | IOSTANDARD = "LVCMOS33";
#  NET ax3_sd_miso         LOC = L4  | IOSTANDARD = "LVCMOS33";
#
#  NET ax3_i2c_clk         LOC = N12 | IOSTANDARD = "LVCMOS33";
#  NET ax3_i2c_dat         LOC = P12 | IOSTANDARD = "LVCMOS33";
#
#  NET ax3_rtc_rst_n       LOC = C13 | IOSTANDARD = "LVCMOS33";
#  NET ax3_rtc_sclk        LOC = E13 | IOSTANDARD = "LVCMOS33";
#  NET ax3_rtc_sdat        LOC = D14 | IOSTANDARD = "LVCMOS33";
#
#  NET ax3_vga_hs          LOC = M14 | IOSTANDARD = "LVCMOS33";
#  NET ax3_vga_vs          LOC = L13 | IOSTANDARD = "LVCMOS33";
#  NET ax3_vga_r[4]        LOC = M13 | IOSTANDARD = "LVCMOS33";
#  NET ax3_vga_r[3]        LOC = N14 | IOSTANDARD = "LVCMOS33";
#  NET ax3_vga_r[2]        LOC = L12 | IOSTANDARD = "LVCMOS33";
#  NET ax3_vga_r[1]        LOC = M12 | IOSTANDARD = "LVCMOS33";
#  NET ax3_vga_r[0]        LOC = M11 | IOSTANDARD = "LVCMOS33";
#  NET ax3_vga_g[5]        LOC = P11 | IOSTANDARD = "LVCMOS33";
#  NET ax3_vga_g[4]        LOC = M10 | IOSTANDARD = "LVCMOS33";
#  NET ax3_vga_g[3]        LOC = L10 | IOSTANDARD = "LVCMOS33";
#  NET ax3_vga_g[2]        LOC = P9  | IOSTANDARD = "LVCMOS33";
#  NET ax3_vga_g[1]        LOC = N9  | IOSTANDARD = "LVCMOS33";
#  NET ax3_vga_g[0]        LOC = M9  | IOSTANDARD = "LVCMOS33";
#  NET ax3_vga_b[4]        LOC = L7  | IOSTANDARD = "LVCMOS33";
#  NET ax3_vga_b[3]        LOC = N8  | IOSTANDARD = "LVCMOS33";
#  NET ax3_vga_b[2]        LOC = P8  | IOSTANDARD = "LVCMOS33";
#  NET ax3_vga_b[1]        LOC = M7  | IOSTANDARD = "LVCMOS33";
#  NET ax3_vga_b[0]        LOC = P7  | IOSTANDARD = "LVCMOS33";
#
#  NET ax3_gpio0[0]        LOC = K16 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[1]        LOC = J16 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[2]        LOC = L16 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[3]        LOC = K15 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[4]        LOC = M15 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[5]        LOC = M16 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[6]        LOC = P16 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[7]        LOC = N16 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[8]        LOC = R16 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[9]        LOC = P15 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[10]       LOC = T15 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[11]       LOC = R15 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[12]       LOC = T14 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[13]       LOC = R14 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[14]       LOC = R12 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[15]       LOC = T13 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[16]       LOC = R9  | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[17]       LOC = T12 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[18]       LOC = L8  | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[19]       LOC = T9  | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[20]       LOC = R7  | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[21]       LOC = T7  | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[22]       LOC = T5  | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[23]       LOC = T6  | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[24]       LOC = T4  | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[25]       LOC = R5  | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[26]       LOC = R1  | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[27]       LOC = R2  | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[28]       LOC = P2  | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[29]       LOC = M4  | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[30]       LOC = P6  | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[31]       LOC = N6  | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[32]       LOC = M5  | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio0[33]       LOC = N4  | IOSTANDARD = "LVCMOS33";
#
   NET ax3_gpio1[0]        LOC = A4  | IOSTANDARD = "LVCMOS33";
   NET ax3_gpio1[1]        LOC = B5  | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[2]        LOC = A5  | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[3]        LOC = B6  | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[4]        LOC = A6  | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[5]        LOC = A7  | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[6]        LOC = B8  | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[7]        LOC = A8  | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[8]        LOC = C8  | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[9]        LOC = A9  | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[10]       LOC = A10 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[11]       LOC = B10 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[12]       LOC = A11 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[13]       LOC = A12 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[14]       LOC = B12 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[15]       LOC = A13 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[16]       LOC = A14 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[17]       LOC = B14 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[18]       LOC = B15 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[19]       LOC = B16 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[20]       LOC = C15 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[21]       LOC = C16 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[22]       LOC = D16 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[23]       LOC = E15 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[24]       LOC = C9  | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[25]       LOC = E11 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[26]       LOC = C10 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[27]       LOC = D11 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[28]       LOC = E16 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[29]       LOC = F15 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[30]       LOC = F16 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[31]       LOC = G16 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[32]       LOC = H15 | IOSTANDARD = "LVCMOS33";
#  NET ax3_gpio1[33]       LOC = H16 | IOSTANDARD = "LVCMOS33";
